@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F8F8F8;
  height: 100vh;
  width: 100vw;

}

.custom-border:hover {
  border-image: -webkit-linear-gradient(180deg, rgba(195,205,244,1) 0%, rgba(254,208,186,1) 100%);
    -webkit-background-clip: text;
}

.hover-gradient-text:hover {
  background: -webkit-linear-gradient(180deg, rgba(195,205,244,1) 0%, rgba(254,208,186,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  color: #333;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  color: #333;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: #333;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #333;
}

.create-button-container {

  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 200px;
  color: #ffffff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.button-icon {
  font-size: 1.5rem;
  transition: transform 0.3s;
}

.button-icon:hover {
  font-size: 1.5rem;
  transition: transform 0.3s;
  color:#fff;
}

.create-button-container.open .button-icon {
  transform: rotate(45deg);
}

.floating-buttons {
  position: absolute;
 
  width: auto;
  bottom: 70px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.3s;
  margin-bottom: 15px;
}

.create-button-container.open .floating-buttons {
  transform: scaleY(1);
}

.floating-button {
  background-color: #ffffff;
  border: 2px solid #7AACC3;
  color: #7AACC3;
  padding: 4px 16px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: auto;
  
}

.floating-button:hover {
  background-color: #7AACC3;
}


@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.2rem;
  }
}
